/* ------------------------------------------------------------ *\
  test-container
\* ------------------------------------------------------------ */

.test-container { position: relative; display: block; width: 50%; margin: 0 auto; margin-top: 30px; margin-bottom: 30px; padding: 30px; background: #F4F4F4; border: 1px solid #C1CDC1; border-radius: 30px; }

/* ------------------------------------------------------------ *\
  test-step
\* ------------------------------------------------------------ */

.test-step .test-step__question { text-align: center; color: #000; }

/* ------------------------------------------------------------ *\
  test-step-answers
\* ------------------------------------------------------------ */

.test-step-answers { margin: 0 auto; }
.test-step-answers .test-step-answers__answer { text-align: center; }
.test-step-answers .test-step-answers__answer span { display: inline-block; padding: 5px 20px; min-width: 200px; text-align: center; background: #EAEAEA; border: 1px solid #C1CDC1; color: #000; border-radius: 30px; cursor: pointer; transition: 600ms; }
.test-step-answers .test-step-answers__answer span:hover { opacity: .6; }

.test-step-answers .test-step-answers__answer .wrong-answer { background: #FF0000; }
.test-step-answers .test-step-answers__answer .right-answer { background: #00FF00; }

.test-step__actions:after{ content: ''; display: table; clear: both; }

/* ------------------------------------------------------------ *\
  btn-prev, btn-next
\* ------------------------------------------------------------ */

.btn-prev, .btn-next { font-size: 15px; background: #0394ce; width: 200px; padding: 10px 20px; border-radius: 30px; color: #000 !important; transition: 600ms; }
.btn-prev:hover, .btn-next:hover { background: #0394ce !important; color: #000 !important; opacity: .6; }

.btn-prev { float: left; }
.btn-next { float: right; }

/* ------------------------------------------------------------ *\
  info
\* ------------------------------------------------------------ */

.info { position: absolute; top: 0; right: 0; cursor: pointer; }
.info img { width: 50px; }

/* ------------------------------------------------------------ *\
  popup-modal
\* ------------------------------------------------------------ */

.popup-modal { position: fixed; z-index: 1000; top: 0; left: 0; width: 100%; height: 100%; background-color:rgba(30,30,30,0.7); }
.popup-modal .popup-modal__info-box { position: absolute; padding: 20px; color: #999d9e; top: 50px; left: 50%; min-width: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 30px; }
.popup-modal .popup-modal__info-box h1, .popup-modal .popup-modal__info-box h2, .popup-modal .popup-modal__info-box h3 { color: #999d9e; }
.popup-modal .popup-modal__info-box img { width: 50%; }
.popup-moda__close { position: absolute; top: -40px; right: 0; cursor: pointer; }
.popup-moda__close:after { content: 'X'; color: red; font-size: 30px; }

.popup-modal .popup-modal__info-box .popup-modal__foot { background-color: #f6f6f7; }
.popup-modal .popup-modal__info-box .popup-modal__foot button { display: inline; padding: 30px; background-color: #fff; color: #999d9e; }

/* ------------------------------------------------------------ *\
  popup-modal-container
\* ------------------------------------------------------------ */

.popup-modal-container { width: 50%; margin: 0 auto; background-color: #fff; border-radius: 30px; }

.popup-modal-container .popup-modal-container__foot { padding: 15px; background-color: #f6f6f7; border-radius: 30px; }
.popup-modal-container .popup-modal-container__foot span { padding: 10px; }
.popup-modal-container button { background: #14b0f2; }

/* ------------------------------------------------------------ *\
  popup-modal-form
\* ------------------------------------------------------------ */

.popup-modal-form { width: 90%; margin: 0 auto; padding: 10px; box-shadow: none; }

.popup-modal-form p input { border: none; border-bottom: 1px solid #F0F0F0; }
.popup-modal-form p input:focus { border: none; border-bottom: 1px solid #14b0f2; }
.popup-modal-form p input[type="text"], .popup-modal-form p input[type="password"], .popup-modal-form p input[type="email"], .popup-modal-form p textarea, .popup-modal-form p select { 
    outline: none !important;
}

.popup-modal-form .popup-modal__title { margin: 0; }

.popup-modal-form .popup-form__btn { display: block; max-width: 260px; margin: 0 auto; }

/* ------------------------------------------------------------ *\
  main
\* ------------------------------------------------------------ */

.products-page .site-content, .breadcrumb-wrapper { background-color: #f5f5f5; }
.products-page .site-content { margin: 0; padding-top: 60px; padding-bottom: 80px; }

/* ------------------------------------------------------------ *\
  shell
\* ------------------------------------------------------------ */

.shell { position: relative; max-width: 900px; padding-left: 30px; padding-right: 30px; margin: auto; width: 100%; }

/* ------------------------------------------------------------ *\
  products
\* ------------------------------------------------------------ */

.products { display: flex; flex-wrap: wrap; justify-content: space-between; }

.product { width: 30%; background-color: #fff; }

.product .product__head { min-height: 200px; background-size: cover; background-position: center; }

.product h1, .product h2, .product h3, .product a { text-align: center; color: #14b0f2; }

.product .product__title { margin-top: 0; }